.main-container {
  max-width: 80%;

  margin: 0 auto;
  margin-top: 5rem;
}

.main-container>section {
  margin-top: 4rem;
  position: relative;
}

.img-edit-container {
  position: relative;
  display: block;
  height: 100%;
  user-select: none;
}

.img-edit-container.expand {}

.original-img {
  width: 100%;
  pointer-events: none;
}

.resizer-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.resizer-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border: none;
  background: rgba(3, 3, 3, 0.397);
  border-radius: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.resizer-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.01rem;
  height: 0.01rem;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  z-index: 3;
}

.resizer-bar.left {
  /* transform: translateX(-0.25rem); */
  cursor: se-resize;
}

.resizer-bar.right {
  transform: translate(50%, 50%);
  left: auto;
  right: 0;
  /* cursor: ne-resize; */
  cursor: se-resize;
  top: auto;
  bottom: 0;
}
